* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto Slab', serif;
}

section{
    margin-bottom: 6%;
}

.container {
    background: linear-gradient(to left,
            rgba(0,0,0,1),
            rgba(0,0,0,.7),
            rgba(0,0,0,.4),
            rgba(0,0,0,0)),
            url(imge/cow1.jpeg);

    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;
    transform: scaleX(-1);
    position: relative;
    top: 0;
    left: 0;
    
   
}

.main-part {
    transform: scaleX(-1);
    padding-top: 10%;
    padding-left: 10%;
    text-align: justify;
}

#specail {
    font-size: 45px;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    color: rgba(203, 255, 17, 0.897);
}

.main-part p {
    font-size: 14px;
    margin-bottom: 40px;
    padding: 2px 0;
    color: white;
}

.link-btn {
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.cattel-market {
    display: flex;
    margin-left: 10%;
    
}

.market-details {
    width: 50%;
}

h1{
    font-size: 30px;
    margin-bottom: 10px;
}

p{
    font-size: 14px;
    margin-bottom: 40px;
    padding: 2px 0;
    color: rgb(167, 162, 162); 
}

#iframe {
    border-radius: 10px;
    width: 80%;
    height: 350px;
}