* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto Slab', serif;
}

section{
    margin-bottom: 6%;
}

.container {
    background: linear-gradient(to left,
            rgba(0,0,0,1),
            rgba(0,0,0,.7),
            rgba(0,0,0,.4),
            rgba(0,0,0,0)),
            url(imge/cow1.jpeg);

    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;
    transform: scaleX(-1);
    position: relative;
    top: 0;
    left: 0;
    
   
}

.main-part {
    transform: scaleX(-1);
    padding-top: 10%;
    padding-left: 10%;
    text-align: justify;
}

#specail {
    font-size: 45px;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    color: rgba(203, 255, 17, 0.897);
}

.main-part p {
    font-size: 14px;
    margin-bottom: 40px;
    padding: 2px 0;
    color: white;
}

.link-btn {
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.cattel-market {
    display: flex;
    margin-left: 10%;
    
}

.market-details {
    width: 50%;
}

h1{
    font-size: 30px;
    margin-bottom: 10px;
}

p{
    font-size: 14px;
    margin-bottom: 40px;
    padding: 2px 0;
    color: rgb(167, 162, 162); 
}

#iframe {
    border-radius: 10px;
    width: 80%;
    height: 350px;
}

.market-details img {
    width: 90%;
    border-radius: 10px;
}

.donation{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 10%;
}

.direct-help {
    padding: 30px 40px;
    display: flex;
    margin-right: 10%;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.507);
   
}

.img{
    padding-right: 10px;
}

.display-flex {
    margin-left: 10%;
}
.parent{
    display: flex;
    
}

.child img{
    width: 90%;
    height: 200px;
    border-radius: 10px;
}

.child {
    width: 33%;
}

.heading{
    text-align: center;
}

.border{
    border: 1px solid rgba(128, 128, 128, 0.363);
    margin-right: 5%;
    border-radius: 10px;
    height: 500px;
}

.border .imges{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.border h3{
    padding: 20px;
}


.border p{
    padding: 0 20px;
}

.border .link-btn2 {
    background-color: rgba(220, 20, 60, 0.925);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}


.footer{
    background-color: black;
    text-align: center;
    height: 150px;
}

#last{
    padding: 20px 0;
    font-size: 30px;
    color: crimson;
    font-family: 'Pacifico', cursive;
}